@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

.home {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1500px; */
}
.feature_heading {
  position: absolute;
  top: 350px;
  left: 40%;
}
.home__row {
  display: flex;
  position: absolute;
  top: 500px;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-right: 5px;
}
.welcome__note {
  position: absolute;
  top: 80px;
  left: 20%;
  width: 60%;
  font-family: "Tangerine", cursive;
  color: white;
  font-size: 3em;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -600px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
  );
}

.home__Search {
  position: absolute;
  top: 200px;
  left: 20%;
  width: 60%;
  display: flex;
  flex: 1;
  align-items: center;
  /* border-radius: 24px; */
  margin: auto auto;
}
.home__searchInput {
  height: 20px;
  background-color: white;
  z-index: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 90%;
  text-align: center;
}
#voicebutton {
  position: absolute;
  left: 1vw;
  z-index: 2;
  color: green;
}
#voicebutton:hover {
  cursor: pointer;
}
#voicebutton:active {
  color: red;
}
.home_searchIcon {
  padding: 5px;
  width: 80px !important;
  height: 30px !important;
  z-index: 1;
  background-color: #cd9042;
  border-radius: 0px 5px 5px 0px;
}

.home__container {
  width: 100%;
  height: 130vh;
}

@media screen and (max-width: 875px) {
  .home__container {
    width: 100%;
    height: 200vh;
  }
}
